<form method="get" action="/logout">
	<button id="log" class="headerbt">Log Out</button>
</form>  
<h1>These people also share your views.</h1>
<ul>
	{{#each results}}
		<li>{{#if this.homepage}}
			<a href="{{this.homepage}}">{{this.first_name}} {{this.last_name}}</a> | 
		{{else}}
			{{this.first_name}} {{this.last_name}} | 
		{{/if}}
		{{#if this.age}}
			{{this.age}}
		{{/if}}
		{{#if this.city}}
			<a href="/petition/signers/{{this.city}}">{{this.city}}</a>
		{{/if}}</li>
	{{/each}}
</ul>

